.description{
  color: rgb(243, 124, 124);
}
#app > div > header > div.navbar-right > form > input[type=search]{
  width: 8em;
}
// md 中 > 边框线颜色
blockquote{
    border-color: rgb(0, 148, 0);
    background-color: rgb(226, 243, 235);
}